<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUL02z3pdyMdcd-NqZP1LvkhGr6a8xkRE</string>
	<key>GCM_SENDER_ID</key>
	<string>330090097624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Andromeda.Visionary</string>
	<key>PROJECT_ID</key>
	<string>visionary-df3ae</string>
	<key>STORAGE_BUCKET</key>
	<string>visionary-df3ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330090097624:ios:58867f176c38d956bee0ad</string>
</dict>
</plist>